body{
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #4bb895 !important;
}

.clients
{
  margin:auto auto;
  text-align:center;
  word-wrap: break-word;
  overflow:hidden;
}

.sections
{
  text-align:center;
  margin:2px;
  height:auto;
  padding-top:8px;
  padding-bottom:8px;
  -webkit-box-shadow: 0px 1px 3px #222222;
  -moz-box-shadow: 0px 1px 3px #222222;
  box-shadow: 0px 1px 3px #222222;
}

.current-client{
  clear:both;
}

.final
{
  min-height:340px !important;
  overflow:hidden;
}

.final .map-clients
{
  height:340px;
}
.final .map-clients .data
{
  height:300px;
}

.sections .data
{
  text-align: center ;
}

.title,.title-medium{
  font-weight: bold;
}

.title,.title-medium{
  font-size:40px;
  word-spacing: 2px;
}

.title-medium{
  font-size:18px;
  word-spacing: 6px;
}
